
.container {
    width: 80%;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 40px;
    position: relative;
    .back {
        position: absolute;
        left: 0;
        top: 0;
        a {
            height: 32px;
            width: fit-content;
            display: flex;
            align-items: center;
            padding: 0 15px;
            border-radius: 8px;
            box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
            transition: all .3s cubic-bezier(.645,.045,.355,1);
            border: 1px solid #d9d9d9;
            background: #d82d8b;
            color: #fff;
            &:hover {
                color: #40a9ff;
                border-color: #40a9ff;
                background-color: #fff;
            }
        }
    }
    .status {
        p {
            text-align: center;
            margin-bottom: 0;
            font-size: 24px;
            font-weight: 700;
            &.passed {
                color: #9ccc65;
            }
            &.failed {
                color: #fd3259;
            }
        }
    }
    .iframe {
        margin-top: 32px;
        width: 100%;
        height: 100vh;
    }
}
